<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nick.ptk">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".vollyhelper"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".MapsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Start2Activity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".btnmain" />
        <activity android:name=".ForgotPassword" />
        <activity android:name=".PlateActivity" />
        <activity android:name=".PreProfileActivity" />
        <activity android:name=".StartActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".SpeechActivity" />
        <activity android:name=".WorldActivity"></activity>
    </application>

</manifest>